[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bootstrap = "*"
wtforms = "*"
sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-login = "*"
gallery = {path = ".",editable = true}
flask-wtf = "*"

[requires]
python_version = "3.6"
